* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
}

#mapContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

.mapdiv {
    width: 290px;
    border: 1px solid #d5d5d5;
    background-color: #FFF;
    font-size: 13px;
}

.ub {
    border-bottom: 1px solid #d5d5d5;
}

.maptop {
    position: fixed;
    top: 0px;
    margin-bottom: 1vh;
    font-size: 14px
}

.maptop > div {
    padding: 10px;
    margin: 0 10px
}

.mapneed ul {
    display: table;
    width: 100%
}

.maptop li {
    list-style: none
}

.mapneed li {
    width: 50%;
    float: left
}

.tx-c {
    text-align: center
}

.bggray {
    background: #f8f8f8;
    border-radius: 5px;
    line-height: 1.5
}

.onlys {
    position: relative
}

.onlys div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 30px;
    text-align: center
}

.clock {
    display: block;
    width: 1rem;
    height: 1rem;
    background: url('/static/images/clock.png') center no-repeat;
    background-size: .8rem auto;
    float: left
}

.eye {
    display: block;
    width: 1rem;
    height: 1rem;
    background: url('/static/images/eye.png') center no-repeat;
    background-size: .8rem auto;
    float: left
}

.sideul {
    width: 100%;
}

.sideul li {
    list-style: none;
    /* border-bottom: 1px dashed #d5d5d5; */
    display: block;
    width: 263px;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 0px;
    clear: both;
}

.sideul li + li {
    border-top: 1px dashed #d5d5d5;
}

.sideul li.bold {
    font-weight: bolder;
}

.sideul li:last-child {
    border-bottom: none;
}

.sideul li .line1 {
    line-height: 20px
}

.sideul li .line1 .left {
    float: left;
}

.sideul li .line1 .right {
    float: right;
}

.sideul li .line2 {
    line-height: 30px
}

.sideul li .line2 .left {
    float: left;
    clear: both;
}

.sideul li .line2 .right {
    float: right;
    color: #fe8702;
}

.BMapLabel::after {
    position: absolute;
    left: 7px;
    bottom: -5px;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 0
}

.filter div {
    text-align: center;
    padding: .5rem 0;
    cursor: pointer;
    display: inline-block;
}

.filter div em {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url('/static/images/down-g.png') no-repeat center;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.filter div.active {
    color: #5997eb;
}

.filter div.active em {
    background: url('/static/images/down.png') no-repeat center;
}

.filter div.up.active em {
    background: url('/static/images/up.png') no-repeat center;
}

.filter div.up em {
    background: url('/static/images/up-g.png') no-repeat center;
}

.p-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.p-title span {
    color: #888;
}

.newpanel {
    width: 330px;
    position: fixed;
    right: 20px;
    top: 10%;
    font-size: 0;
    transition: all 0.3s;
    height: 90%;
    z-index: 999;
}

.newpanel .tab.active {
    border-bottom: none;
    background: white;
}

.newpanel .tab:first-child.active {
    border-right: none;
}

.newpanel .tab:last-child.active {
    border-left: none;
}

.newpanel .tab {
    display: inline-block;
    width: 104px;
    height: 29px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    background: #ebebeb;
    border: 1px solid #d5d5d5;
}

.newpanel .panel-item {
    width: 330px;
    padding: 50px 20px 20px 20px;
    background: white;
    position: relative;
    top: -1px;
    z-index: -1;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    height: 90%;
}

.newpanel .panel-item .mapdiv {
    height: 95%;
    overflow: hidden;
}

/* .newpanel .panel-item .mapdiv #history-map-div {

} */

.newpanel #changeCity {
    position: absolute;
    top: 42px;
    width: 135px;
    height: 30px;
    left: 20px;
}

.newpanel select {
    border: 1px solid #d5d5d5;
}

.newpanel #changeDay {
    position: absolute;
    top: 42px;
    width: 135px;
    height: 30px;
    right: 20px;
}

.user-info {
    width: 288px;
    /* height: 186px; */
    border: 1px solid #d5d5d5;
    padding: 15px;
}

.user-info .info-item {
    color: #333;
    font-size: 14px;
    height: 22px;
    line-height: 23px;
}

.user-info .info-item .label {
    color: #888;
    width: 100px;
    display: inline-block;
}

.tu {
    width: 288px;
    min-height: 210px;
    background: #f5f5f5;
}

.tu:last-child{
    margin-bottom: 20px;
}

.paixu-text {
    font-size: 14px;
    color: #888;
    text-indent: 0.8em;
}